@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);

@viewport{
    zoom: 1.0;
    width: device-width;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

* {
  box-sizing: border-box;
  position: relative;
}

.clearfix:after,
.row:after,
.group:after,
.grouped:after{
  content: "";
  display: table;
  clear: both;
}

/** some grid-y things **/
img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .row {
    margin-left: -.75rem;
    margin-right: -.75rem;
  }

  .one-sixth      { float:left; padding: 0 .75rem; width: 16.666666%; }
  .one-quarter    { float:left; padding: 0 .75rem; width: 25%; }
  .one-third      { float:left; padding: 0 .75rem; width: 33.333333%;}
  .one-half       { float:left; padding: 0 .75rem; width: 50%; }
  .two-thirds     { float:left; padding: 0 .75rem; width: 66.666666%; }
  .three-quarters { float:left; padding: 0 .75rem; width: 75%; }
  .one-whole      { float:left; padding: 0 .75rem; width: 100%; }

  .offset-one-sixth      { margin-left: 16.666666%; }
  .offset-one-quarter    { margin-left: 25%; }
  .offset-one-third      { margin-left: 33.333333%; }
  .offset-one-half       { margin-left: 50%; }
  .offset-two-thirds     { margin-left: 66.666666%; }
  .offset-three-quarters { margin-left: 75%; }
}
/*************************/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

body {
  padding-bottom: 100px;
}

#wrapper,
.container {
  margin: 0 auto;
  max-width: 1200px;
}

#wrapper {
  border: 1px solid gray;
  padding: 20px;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  #wrapper {
    margin-top: 70px;
  }
}

a {
  color: rgba(102,102,102,1);
  text-decoration: none;
}

a:hover {
  color: rgba(255,0,0,1);
}

header {
  text-align: center;
}

ul.grid,
#site-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

header .logo {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: auto;
  width: auto;
}

#site-nav {
  margin-top: 0;
  margin-bottom: 2rem;
  width: 100%;
  background: white;
}

#site-nav ul {
  border-top: 1px solid gray;
}
#site-nav ul li {
  border-bottom: 1px solid gray;
}

#site-nav a {
  display: block;
  padding: .5em 1em;
}

@media(min-width:768px) {

  header { padding-top: 6rem;}

  #site-nav {
    /**/
    background: white;
    position: fixed;
    top:0;
    right:0;
    left:0;
    margin: 0;
    z-index: 99999;
    border-bottom: 1px solid gray;
  }

  #site-nav ul {  background: white; }

  #site-nav ul li {
    display: inline-block;
    width: 127.5px;
  }

  #site-nav ul,
  #site-nav ul li {
    border: none;
  }

  #site-nav ul li a {
    padding: 20px .75rem;
    display: block;
  }

  #site-nav ul li a:hover {
    background: rgba(255,0,0,1);
    color: white;
  }
}

/***** Active sitenav stuff *****/
#site-nav .active a {
  color: white;
}
.intro #site-nav .active a {
  background: rgba(255,102,0,1);
}

/***** homepage grid *****/

.home ul.grid {
  max-width: 100%;
  margin: 0 auto;
}

ul.grid li {
  display: block;
  height: auto;
  width: 50%;
  float: left;
  padding: .75rem;
}

@media(min-width:500px) {
  ul.grid li {
    width: calc(100% / 3);
  }
}

@media(min-width:600px) {
  ul.grid li {
    width: calc(100% / 4);
  }
}

@media(min-width:800px) {
  ul.grid li {
    width: calc(100% / 6);
  }
}

/*
li.learn  { background-color: rgba(255,102,0,1); }
li.create { background-color: rgba(204,255,51,1); }
li.love   { background-color: rgba(202,102,152,1); }
li.smile  { background-color: rgba(153,153,204,1); }
*/
