<div class="flex" id="topBanner">
  <div class="flex alert">
    <div class="flex column">
      <p><b>Health and Safety First</b></p>

      <div class="flex pdfLinks">
        <a href="/f/pdf/extra_precautions_520.pdf">Extra Precautions</a>
        <a href="/f/pdf/new_procedures_620.pdf">New Procedures</a>
        <a href="/f/pdf/drop_off_520.pdf">Drop Off and Pick Up Instructions</a>
        <a href="/f/pdf/visitor_protocol_520.pdf">Visitor Protocol</a>
      </div>
      
    </div>
  </div>
</div>