<div class="flex" id="topBanner">
  <div class="flex alert">
    <div class="flex column">
      <p><b>Health and Safety First</b></p>

      <div class="flex pdfLinks">
        <a href="/f/PDF/extra_precautions_520.pdf"><u>Extra Precautions</u></a>
        <a href="/f/PDF/new_procedures_620.pdf"><u>New Procedures</u></a>
        <a href="/f/PDF/drop_off_520.pdf"><u>Drop Off and Pick Up Instructions</u></a>
        <a href="/f/PDF/visitor_protocol_520.pdf"><u>Visitor Protocol</u></a>
      </div>
      
    </div>
  </div>
</div>