<footer>
  <section class="flex">
    <div class=>
      <h2>Address</h2>
      <address>
        5600 American Boulevard West <br />
        Suite #180 <br />
        Bloomington, MN 55437 <br />
        (next to Renaissance Hotel)
      </address>
    </div>
    <div>
      <h2>Hours of Operation</h2>
      <h3>Current Hours:</h3>
      <p>
        <em>7:30 a.m. - 5:30 p.m. Monday - Friday</em> <br />(Center hours are temporarily adjusted in response to
        guidance from the CDC. The currently scheduled hours allow Kinderplatz to maintain smaller class sizes with
        the same teaching staff throughout the day)
      </p>
      <h3>Regular Hours:</h3>
      <p>
        <em>6:30 a.m. - 6:00 p.m. Monday - Friday</em> <br />
        Closed for Federal holidays, including the day after Thanksgiving. Shortened hours are observed on Christmas
        Eve.
      </p>
    </div>
    <div>
      <h2>Contact</h2>
      <p>
        Telephone: (612) 725-3481 <br />
        <em>Urgent: (612) 810-2830 - (Mary-Jane – Coordinator)</em> <br />
        Fax: (612) 725-3700 <br />
        Email: kinderplatz@gmail.com
      </p>
    </div>
    <div class="flex accredation">
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px" y="0px" viewBox="0 0 43.8 98.4" style="enable-background:new 0 0 43.8 98.4;" xml:space="preserve">
        <g>
          <path d="M31.6,38.9c-0.1-1-0.2-2-0.6-3c-0.2-0.5-0.4-0.9-0.5-1.1l-0.2-0.3c-0.5-0.9-1.8-0.7-2,0.3c-0.2,1.1-1.1,1.9-2.2,1.9
        c-0.8,0-1.6-0.4-2-1.2l-3.8-6.9c-0.9-1.6-3.4-1.6-4.1,0.2l-2.6,5.5l-0.3,0.5c-0.2,0.3-0.4,0.7-0.5,1.1C12.3,37,12,38.2,12,39.5
        c0,5.5,4.6,10,10.2,9.8C27.7,49,32,44.2,31.6,38.9z" />
          <path d="M4.1,52.5c0.7,0.9,2,1.3,3,0.9C8.4,52.7,8.8,51,8,49.9c-2.7-3.7-3.8-8.4-3-13.2c0.2-1.1,0.5-2.1,0.9-3.1l0,0l7.9-17.2
        c0.2-0.5,1-0.6,1.4-0.1l0.9,1.3c0.6,1,1.9,1.4,3,0.9c0.5-0.2,0.8-0.6,1-1L25,8.8c0.3-0.5,1.1-0.5,1.4,0.1c5.1,11,11.2,24,11.5,24.7
        v0.1c0.2,0.6,0.5,1.2,0.6,1.8C41.4,46.8,32.8,57,21.9,57h-18c-1.3,0-2.3,1-2.3,2.3v9.4c0,1.3,1,2.3,2.3,2.3H12l3.6,25.3
        c0.2,1.2,1.2,2,2.3,2h7.8c1.2,0,2.2-0.9,2.3-2l3.6-25.3h8.1c1.3,0,2.3-1,2.3-2.3v-9.4c0-1.3-1-2.3-2.3-2.3h-4.5
        c5.1-4,8.4-10.2,8.4-17.2c0-2.7-0.5-5.5-1.6-8c0-0.1-0.1-0.1-0.1-0.2c-0.9-2-11-23.4-14.2-30.2c-0.4-0.8-1.1-1.3-2-1.4
        c-0.9-0.1-1.7,0.4-2.2,1.2l-5.9,10.6l-1.8-2.9c-0.5-0.7-1.2-1.2-2.1-1.1c-0.9,0.1-1.6,0.5-2,1.3L1.6,31.7c-0.1,0.1-0.1,0.2-0.1,0.3
        c-0.9,2.5-1.4,5.2-1.4,7.8C0,44.5,1.4,48.8,4.1,52.5z M23.8,93.1c-0.1,0.4-0.4,0.7-0.8,0.7h-2.3c-0.4,0-0.7-0.3-0.8-0.7l-3-21.1
        c-0.1-0.5,0.3-0.9,0.8-0.9h8.4c0.5,0,0.9,0.4,0.8,0.9L23.8,93.1z M36.7,61.7c0.5,0,0.8,0.3,0.8,0.8v3.1c0,0.5-0.3,0.8-0.8,0.8H7
        c-0.5,0-0.8-0.3-0.8-0.8v-3.1c0-0.5,0.3-0.8,0.8-0.8H36.7z" />
        </g>
      </svg>
      <p>Since 1994, Kinderplatz has been accredited by the <em>National Association for the Education of Young
          Children</em></p>
    </div>
  </section>
  <section class="flex">
    <nav>
      <ul class="flex list-reset">
        <li class="sub">
          <a class="darkgray" href="introduction.html">Introduction</a>
          <ul class="subMenu list-reset">
            <li><a class="darkgray" href="/ageGroups/immersion.html">Spanish Immersion</a></li>
            <li><a class="darkgray" href="/testimonials.html">Testimonials</a></li>
            <li><a class="darkgray" href="/gallery/">Kinderplatz Photos</a></li>
          </ul>
        </li>
        <li class="sub">
          <a class="darkgray" href="/approach/">Our Approach</a>
          <ul class="subMenu list-reset">
            <li><a class="darkgray" href="/approach/goals.html">Program Goals</a></li>
            <li><a class="darkgray" href="/approach/curriculum.html">Curriculum & Assessments</a></li>
            <li><a class="darkgray" href="/approach/behavior.html">Behavior Guidance</a></li>
            <li><a class="darkgray" href="/approach/diversity.html">Diversity</a></li>
            <li><a class="darkgray" href="/approach/community.html">Community</a></li>
            <li><a class="darkgray" href="/approach/resources.html">Parent Resources</a></li>
            <li><a class="darkgray" href="/approach/open-door.html">Open Door Policy</a></li>
            <li><a class="darkgray" href="/approach/enrichment.html">Enrichment Programs</a>
              <ul class="subMenu list-reset">
                <li><a class="darkgray" href="/enrichment/nocost.html">No Cost (Integrated)</a>
                  <ul class="subMenu list-reset">
                    <li><a class="darkgray" href="/ageGroups/immersion.html">Spanish Immersion</a></li>
                    <li><a class="darkgray" href="/enrichment/nocost.html#spanish">Spanish Language Instruction</a></li>
                    <li><a class="darkgray" href="/enrichment/nocost.html#music">Music</a></li>
                    <li><a class="darkgray" href="/enrichment/nocost.html#movement">Creative Movement</a></li>
                    <li><a class="darkgray" href="/enrichment/nocost.html#signLanguage">Sign Language</a></li>
                    <li><a class="darkgray" href="/enrichment/nocost.html#culture">Cultural Enrichment</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="subMenu list-reset">
                <li><a class="darkgray" href="/enrichment/variable.html">Variable Cost</a></li>
              </ul>
              <ul class="subMenu list-reset">
                <li><a class="darkgray" href="/enrichment/fee.html">With Additional Fees</a>
                  <ul class="subMenu list-reset">
                    <li><a class="darkgray" href="/enrichment/fieldtrips.html">Field Trips</a></li>
                    <li><a class="darkgray" href="/enrichment/kinderroo.html">Kinderroo Soccer</a></li>
                    <li><a class="darkgray" href="/enrichment/fee.html#tutoring">Tutoring / Literacy Support</a></li>
                  </ul> 
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="sub">
          <a class="darkgray" href="/ageGroups/">Age Groups</a>
          <ul class="subMenu list-reset">
            <li><a class="darkgray" href="/ageGroups/ratios.html">Child/Teacher Ratios</a></li>
            <li><a class="darkgray" href="/ageGroups/summerschool.html">Summer School Age Program</a></li>
            <li><a class="darkgray" href="/ageGroups/immersion.html">Spanish Immersion</a></li>
            <li><a class="darkgray" href="/gallery/">Kinderplatz Photos</a></li>
          </ul>
        </li>
        <li class="sub">
          <a class="darkgray" href="/tuition/">Tuition</a>
          <ul class="subMenu list-reset">
            <li><a class="darkgray" href="/tuition/#tuition">Tuition & Terms</a></li>
            <li><a class="darkgray" href="/tuition/#enrollment-policies">Enrollment Policies</a></li>
          </ul>
        </li>
        <li class="sub">
          <a class="darkgray" href="/credentials.html">Credentials</a>
          <ul class="subMenu list-reset">
            <li><a class="darkgray" href="/credentials.html#staff">Staff</a></li>
          </ul>
        </li>
        <li class="sub">
          <a class="darkgray" href="/contact.html">Contact Us</a>
          <ul class="subMenu list-reset">
            <li><a class="darkgray" href="/gallery/">Kinderplatz Photos</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </section>

  <section class="flex covid19">
    <p><b>Covid19 / Health and Safety First</b></p>
    <p class="divider">::</p>
    <a class="darkgray gray-hover" href="/f/pdf/extra_precautions_520.pdf">Extra Precautions</a>
    <p class="divider">::</p>
    <a class="darkgray gray-hover" href="/f/pdf/new_procedures_620.pdf">New Procedures</a>
    <p class="divider">::</p>
    <a class="darkgray gray-hover" href="/f/pdf/drop_off_520.pdf">Drop Off and Pick Up Instructions</a>
    <p class="divider">::</p>
    <a class="darkgray gray-hover" href="/f/pdf/visitor_protocol_520.pdf">Visitor Protocol</a>
  </section>

</footer>

<div class="bottomStripe"></div>
