<!-- this is the simplified nav for the header -->
<nav id="mainMenu">
  <ul class="flex list-reset">
    <li><a class="orange" href="/introduction.html">Introduction</a></li>
    <li><a class="yellow" href="/approach/">Our Approach</a></li>
    <li><a class="green" href="/ageGroups/">Age Groups</a></li>
    <li><a class="blue" href="/tuition/">Tuition</a></li>
    <li><a class="purple" href="/credentials.html">Credentials</a></li>
    <li><a class="red" href="/contact.html">Contact Us</a></li>
  </ul>
</nav>

<!-- when you have an active page/section in the main menu, the outer <li> gets a BG-color -->
<nav id="mainMenu">
  <ul class="flex list-reset">
    <li class="active bg-orange">
      <!-- and then the link gets "white" as its class instead -->
      <a class="white" href="/introduction.html">Introduction</a>
    </li>
    <li><a class="yellow" href="/approach/">Our Approach</a></li>
    <li><a class="green" href="/ageGroups/">Age Groups</a></li>
    <li><a class="blue" href="/tuition/">Tuition</a></li>
    <li><a class="purple" href="/credentials.html">Credentials</a></li>
    <li><a class="red" href="/contact.html">Contact Us</a></li>
  </ul>
</nav>

<!-- And this is the deeper full complex menu for the footer on all pages -->
<nav>
  <ul class="flex list-reset">

    <!-- introduction & sub pages -->
    <li class="sub">
      <a class="darkgray" href="/introduction.html">Introduction</a>
      <ul class="subMenu list-reset">
        <li><a class="darkgray" href="#">Spanish Immersion</a></li>
        <li><a class="darkgray" href="#">Testimonials</a></li>
        <li><a class="darkgray" href="#">Kinderplatz Photos</a></li>
      </ul>
    </li>

    <!-- Our Approach & subpages -->
    <li class="sub">
      <a class="darkgray" href="/approach/">Our Approach</a>
      <ul class="subMenu list-reset">
        <li><a class="darkgray" href="/approach/goals.html">Program Goals</a></li>
        <li><a class="darkgray" href="/approach/goals.html">Curriculum & Assesments</a></li>
        <li><a class="darkgray" href="/approach/goals.html">Behavior Guidance</a></li>
        <li><a class="darkgray" href="/approach/goals.html">Diversity</a></li>
        <li><a class="darkgray" href="/approach/goals.html">Community</a></li>
        <li><a class="darkgray" href="/approach/goals.html">Parent Resources</a></li>
        <li><a class="darkgray" href="/approach/goals.html">Open Door Policy</a></li>
        <li><a class="darkgray" href="/approach/goals.html">Enrichment Programs</a></li>
      </ul>
    </li>

    <!-- Age Groups & subpages -->
    <li class="sub">
      <a class="darkgray" href="#">Age Groups</a>
      <ul class="subMenu list-reset">
        <li><a class="darkgray" href="#">Child/Teacher Ratios</a></li>
        <li><a class="darkgray" href="#">Summer School Age Program</a></li>
        <li><a class="darkgray" href="#">Spanish Immersion</a></li>
        <li><a class="darkgray" href="#">Kinderplatz Photos</a></li>
      </ul>
    </li>

    <!-- Tuition & subpages -->
    <li class="sub">
      <a class="darkgray" href="#">Tuition</a>
      <ul class="subMenu list-reset">
        <li><a class="darkgray" href="#">Tuition & Terms</a></li>
        <li><a class="darkgray" href="#">Enrollment Policies</a></li>
      </ul>
    </li>

    <!-- Credentials & subpages -->
    <li class="sub">
      <a class="darkgray" href="/credentials.html">Credentials</a>
      <ul class="subMenu list-reset">
        <li><a class="darkgray" href="#">Staff</a></li>
      </ul>
    </li>

    <!-- Contact & subpages -->
    <li class="sub">
      <a class="darkgray" href="/contact.html">Contact Us</a>
      <ul class="subMenu list-reset">
        <li><a class="darkgray" href="#">Kinderplatz Photos</a></li>
      </ul>
    </li>
  </ul>
</nav>